<div>
 <div class
 ="test-header">
      <button (click)="onBtExcludeMedalColumns()">Exclude Location, HM Columns</button>
      <button (click)="onBtIncludeMedalColumns()">Include Location, HM Columns</button>
    </div>
    <br>

     <div class="example-header">
      Selection:
      <span id="selectedRows"></span>
    </div>
   
    <ag-grid-angular 
    #agGrid style="width: 100%; height: 300px;" class="ag-theme-balham" 
    [gridOptions]="gridOptions"
     [rowData]="rowData"
        (gridReady)="onGridReady($event)"
        [defaultColDef]="defaultColDef"
        [rowSelection]="rowSelection"
        (selectionChanged)="onSelectionChanged($event)"
        [modules]="modules"
    
    >
    </ag-grid-angular>
</div>


<!-- {{this.gridOptions.rowData[0] | json}} --> 